<a href="https://colab.research.google.com/github/carlos-souza-blip/Trabalho-de-Analise-de-Risco/blob/main/Test_RHMP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# iNCLUINDO O BANCO DE DADOS
from google.colab import files
uploaded = files.upload()

In [ ]:
# INCLUINDO LIVRARIAS
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, roc_curve, classification_report,\
                            accuracy_score, confusion_matrix, auc
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
# ABRINDO O BANCO DE DADOS
dados = pd.read_excel('rmhp_selecao_go.xlsx')
dados

            cnes  sexo  idade diag_princ  ...  uso_uti  obito  icc  ieh
0        2333988     1     44        A09  ...        0      0    0    0
1        2333988     1     57       A491  ...        0      0    0    0
2        2333988     3     18       B188  ...        0      0    1    0
3        2333988     1     49        I10  ...        0      0    0    1
4        2333988     3     44       J068  ...        0      0    0    0
...          ...   ...    ...        ...  ...      ...    ...  ...  ...
1004665  9813349     3     44       S520  ...        0      0    0    0
1004666  9813349     3     50       S521  ...        0      0    0    0
1004667  9813349     3     64       S522  ...        0      0    0    0
1004668  9813349     3     97       M169  ...        0      0    0    0
1004669  9813349     3     82       J189  ...        0      0    0    0

[1004670 rows x 13 columns]

In [ ]:
# ORGANIZANDO AS VARIAVEIS PARA O TESTE
dados = dados[['ano', 'obito', 'icc', 'ieh', 'cid50', 'uso_uti', 'permanencia', 'fxidade']]
dados

          ano  obito  icc  ieh  cid50  uso_uti  permanencia  fxidade
0        2015      0    0    0      0        0            2        1
1        2015      0    0    0      1        0            2        2
2        2015      0    1    0      0        0            2        1
3        2015      0    0    1      0        0            2        1
4        2015      0    0    0      0        0            2        1
...       ...    ...  ...  ...    ...      ...          ...      ...
1004665  2021      0    0    0      0        0            1        1
1004666  2021      0    0    0      0        0            2        2
1004667  2021      0    0    0      0        0            1        3
1004668  2021      0    0    0      0        0            2        6
1004669  2021      0    0    0      1        0            1        5

[1004670 rows x 8 columns]

In [ ]:
# APLICANDO O MODELO BINOMIAL PARA VERIFICAR A ESTRUTURA DOS DADOS
modelo = smf.glm(formula= 'obito ~ icc + ieh + uso_uti + permanencia + cid50 + fxidade', data=dados,
                 family = sm.families.Binomial()).fit()
print(modelo.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  obito   No. Observations:              1004670
Model:                            GLM   Df Residuals:                  1004663
Model Family:                Binomial   Df Model:                            6
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -1.7905e+05
Date:                Tue, 29 Jun 2021   Deviance:                   3.5809e+05
Time:                        14:30:17   Pearson chi2:                 8.45e+05
No. Iterations:                     7
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      -4.7516      0.014   -340.707      0.000      -4.779      -4.724
icc             0.3087      0.005     66.484      0.000       0.300       0.318
ieh             0.1304      0.020      6.613      0.000       0.092       0.169
uso_uti         2.2989      0.010    227.657      0.000       2.279       2.319
permanencia     0.0122      0.004      3.306      0.001       0.005       0.019
cid50           0.6299      0.010     63.366      0.000       0.610       0.649
fxidade         0.3952      0.003    123.882      0.000       0.389       0.401
===============================================================================

In [ ]:
# APLICANDO OUTRO TESTE PARA VERIFICAR A ESTRUTURA DO MODELO
model = LogisticRegression(penalty='none', solver='newton-cg')
y = dados.obito
x = pd.get_dummies(dados[['icc', 'ieh', 'uso_uti', 'permanencia', 'fxidade', 'cid50']])

In [ ]:
predictions = model.predict(x)
print ('GFT + Wiki / GT R-squared: %.4f' % model.score(x, y))

GFT + Wiki / GT R-squared: 0.9383

In [ ]:
prediction_error = y - predictions
print(prediction_error)

0          0
1          0
2          0
3          0
4          0
          ..
1004665    0
1004666    0
1004667    0
1004668    0
1004669    0
Name: obito, Length: 1004670, dtype: int64

In [ ]:
# é necessário adicionar uma constante a matriz X
x = sm.add_constant(x)
# OLS vem de Ordinary Least Squares e o método fit irá treinar o modelo
results = sm.OLS(y, x).fit()
# mostrando as estatísticas do modelo
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  obito   R-squared:                       0.145
Model:                            OLS   Adj. R-squared:                  0.145
Method:                 Least Squares   F-statistic:                 2.838e+04
Date:                Tue, 29 Jun 2021   Prob (F-statistic):               0.00
Time:                        14:41:13   Log-Likelihood:                 94985.
No. Observations:             1004670   AIC:                        -1.900e+05
Df Residuals:                 1004663   BIC:                        -1.899e+05
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -0.0230      0.001    -38.791      0.000      -0.024      -0.022
icc             0.0183      0.000     60.751      0.000       0.018       0.019
ieh            -0.0012      0.001     -1.185      0.236      -0.003       0.001
uso_uti         0.2518      0.001    319.764      0.000       0.250       0.253
permanencia    -0.0002      0.000     -0.923      0.356      -0.001       0.000
fxidade         0.0201      0.000    122.199      0.000       0.020       0.020
cid50           0.0406      0.001     68.234      0.000       0.039       0.042
==============================================================================
Omnibus:                   616007.378   Durbin-Watson:                   1.919
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          5350331.921
Skew:                           2.953   Prob(JB):                         0.00
Kurtosis:                      12.639   Cond. No.                         16.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
print ("GFT + Wiki / GT  R-squared", results.rsquared)

GFT + Wiki / GT  R-squared 0.14492705090180613

In [ ]:
# mostrando as previsões para o mesmo conjunto passado
print(modelo.predict(x))

0          0.012972
1          0.035339
2          0.017581
3          0.014752
4          0.012972
             ...
1004665    0.012816
1004666    0.019139
1004667    0.027823
1004668    0.086608
1004669    0.105900
Length: 1004670, dtype: float64

In [ ]:
# Visualizar os coeficientes encontrados
model.fit(x, y)
print(model.coef_)

[[-2.37578612  0.30870939  0.1303971   2.29891577  0.01221132  0.3952291
   0.62989031]]

In [ ]:
# Aplicando o Teste T-STUDENT
print(np.exp(results.params[1:]))

icc            1.018516
ieh            0.998808
uso_uti        1.286353
permanencia    0.999794
fxidade        1.020273
cid50          1.041412
dtype: float64

In [ ]:
# Aplicando Binomial
print(np.exp(modelo.params[1:]))

icc            1.361667
ieh            1.139281
uso_uti        9.963374
permanencia    1.012286
cid50          1.877405
fxidade        1.484724
dtype: float64

In [ ]:
# Visualizando o R^2
model.score(x, y)

0.9382732638577842

In [ ]:
# Mostrando as previsões 
model.predict_proba(x)

array([[0.9870282 , 0.0129718 ],
       [0.96466139, 0.03533861],
       [0.98241921, 0.01758079],
       ...,
       [0.97217697, 0.02782303],
       [0.91339216, 0.08660784],
       [0.89410026, 0.10589974]])